:root{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

body{
    background-color: rgb(82, 86, 89);
    align-items: center;
}

#contenedorHoja{
    background-color: white;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px 20%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

header{
    margin: 0px 6.5%;
    display: flex;
    width: 87%;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px;
}

header img{
    margin: 4px 1.5% 4px 8.5%;
}

#textoCentral{
    text-align: center;
    margin: 10px 10% 0px 12%;
    line-height: 1.1;
}

#textoCentral h1{
    font-weight: 900;
    font-size: 2.6vw;
}

#textoCentral h3, h4, h6{
    font-weight: 550;
}

#textoCentral h3{
    line-height: 90%;
}

#textoCentral h4{
    font-size: 14pt;
}

#entidadReceptoraSection{
    width: 23%;
    padding-bottom: 6.5%;
}

#entidadReceptoraSection h6{
    font-style: italic;
    font-size: 7pt;
    margin-bottom: 2px;
}

#entidadReceptoraSection input{
    width: 100%;
    line-height: 200%;
    border: 1.8px solid black;
}

.divisorContenedores{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.labelSubtitulo{
    margin-left: 6.5%;
    background-color: #000000;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    font-family: Arial;
    padding: 3px 7px;
}

.labelSubtitulo1{
    background-color: #000000;
    border-radius: 50px;
    width: fit-content;
    font-weight: 600;
    color: white;
    padding: 2px 30px;
}

.labelSubtitulo2{
    background-color: #000000;
    border-radius: 50px;
    width: fit-content;
    font-weight: 600;
    color: white;
    padding: 2px 12px;
}

.labelSubtitulo + hr{
    border-color: cyan;
    width: 8px;
    height: 1px;
}

#contenedorDatosPersonales{
    background-color: #f8fcfc;
    margin: 15px 6.5%;
    display: flex;
    flex-direction: column;
    width: 87%;
    border: 1px solid black;
    /* padding: 10px; */
    box-shadow: 4px 4px;
}

#contenedorDatosPersonales .row{
    display: flex;
}

#contenedorDatosPersonales .box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* width: min-content; */
    padding: 1px 4px;
    border-left: .1px solid black;
    border-bottom: .1px solid black;
}

#contenedorDatosPersonales .subbox{
    display: flex;
    align-items: center;
}

#contenedorDatosPersonales .subbox1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contenedorDatosPersonales .subbox2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contenedorDatosPersonales .subbox input[id=naPais]{
    width: 50%;
    margin-left: 4%;
    flex-grow: 0;
}

#nacionalidadPais{
    padding-left: 22%;
}

#contenedorDatosPersonales .label{
    font-style: italic;
    font-size: 10pt;
    font-weight: 400;
}

#contenedorDatosPersonales .sublabel{
    font-size: 9pt;
    font-weight: 400;
    margin: 0% 1%;
}

#contenedorDatosPersonales .sublabel[id=lbFemale]{
    padding-top: 5%;
}

#contenedorDatosPersonales .sublabel[id=lbMale]{
    padding-top: 5%;
}

#contenedorDatosPersonales input{
    border: none;
    background-color: transparent;
    line-height: 180%;
}

#contenedorDatosPersonales input.ipt2{
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    /* width: 100%; */
}

#contenedorDatosPersonales input.ipt3{
    border: 1px solid black;
    margin-bottom: 2%;
    margin-left: 7%;
    width: 50%;
    height: 18px;
}

#contenedorDatosPersonales input.ipt3[id=anioNacimiento]{
    border: 1px solid black;
    margin-bottom: 2%;
    margin-left: 5%;
    width: 65%;
}

#fechaNacimiento{
    width: 40%;
}

#fechaNacimiento .sublabel{
    width: 20%;
}

#contenedorDatosPersonales label[id=anioNac]{
    width: 30%;
}